<div class="container-fluid jumbotron">
  <div style="text-align:center">
    <H1 class="bg-primary bg-inverse text-muted" >VENDING MACHINE</H1>
  </div>
  <div class="row">
    <div class="col-md-4">
    <span>
      <app-product-list></app-product-list>
    </span>

    </div>
    <div class="col-md-4">
      <app-coin-list></app-coin-list>
    </div>
  </div>
  <div style="text-align:center">
    <H6 class="bg-primary bg-inverse text-muted" >versions 1.0.0</H6>
  </div>
</div>




